<div id="dsingleton_spraydecks">
	<div id="spraydecks_brand">
		<label for="sd-brand">Brand: </label>
		<select name="sd-brand" id="sd-brand-select">
			<?php foreach ($list as $item) : ?>
		    <option value="<?php echo $item ?>"><?php echo $item ?></option>
			<?php endforeach; ?>
		</select>
	</div>
	<div id="spraydecks_model" style="display:none">
		<label for="sd-model">Model: </label>
		<select name="sd-model" id="sd-model-select">
		
		</select>
	</div>
	<div id="spraydecks_detail" style="display:none">
		
	</div>
</div>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {  
    // wait for the document to load
	document.observe("dom:loaded", function() {	
		//bind the ajax call to the change event on the dropdown
		$$('#sd-brand-select').invoke('on', 'change', function(){
			//hide elements if the dropdown changes
			['spraydecks_model', 'spraydecks_detail'].each(Element.hide);
			
			var brand = this.getValue();
			if (brand != '-- Please Select --')
			{
				// call our AJAX URL with the updater method since we are modifying an existing div
				new Ajax.Updater('sd-model-select', '<?php echo Mage::getBaseUrl() ?>' + 'spraydecks/ajax/brand/brand/' + brand, { method: 'post' });
				Element.show('spraydecks_model');	
			}
		});	
		
		$$('#sd-model-select').invoke('on', 'change', function(){
		
			//hide elements if dropdown changes
			Element.hide('spraydecks_detail');
			
			var model = this.getValue();
			if (model != '-- Please Select --')
			{
				new Ajax.Updater('spraydecks_detail', '<?php echo Mage::getBaseUrl() ?>' + 'spraydecks/ajax/model/model/' + model, {method:'post' });
				Element.show('spraydecks_detail');
			}
		});
	});
} else {
    jQuery('#sd-brand-select').change( function() {
    	jQuery('#spraydecks_model').hide();
    	jQuery('#spraydecks_detail').show();
    		
    	var brand = jQuery(this).val();
    		
    	if(brand != '--Please Select--')
    	{
			jQuery('#sd-model-select').load('<?php echo Mage::getBaseUrl() ?>/spraydecks/ajax/brand/brand/' + brand);
			jQuery('#spraydecks_model').show();
    	}
	});
	jQuery('#sd-model-select').change( function() {
	
		jQuery('#spraydecks_detail').hide();		
		
		var model = jQuery(this).val();
		if(model != '-- Please Select --')
		{
			jQuery('#spraydecks_detail').load('<?php echo Mage::getBaseUrl() ?>/spraydecks/ajax/model/model/' + model);
			jQuery('#spraydecks_detail').show();
		}
	});
}
</script>